/* Bottom Navbar og styling*/
.ikkerul {
      /* Til at fjerne skærmkanter*/
      margin:0;
      /* fjerner visuel scroll både ved X & Y-aksen*/
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      /*Gradient baggrund*/
      height: 812px;
      background-image: linear-gradient(#37A8AD, #E4F2F4);
     }



    /*GRID*/
.forsidegrid{
    display: grid;
    grid-template-columns: 5% 80% 40%;
    grid-template-rows: 2% 2% 2% 2% 15% 70% 10% 10%; 
    grid-gap: 1em;
}   

.forsidelogo{
 grid-column-start: 2;
 grid-row-start:4; 
 }

.logindforside{
 grid-column-start: 2;
 grid-row-start: 7;
 }

.btnlogindforside{
    font-family: 'montserrat';
    font-weight: 500; 
    font-size: 20px;
    color: white;
    background-color: #37A8AD;
    border: none;
    border-radius: 80px;
    width: 100%;
    height: 120%
        
}

.opretbrugerforside{
 grid-column-start: 2;
 grid-row-start: 8;
}

.btnopretbrugerforside{
    font-family: 'montserrat';
    font-weight: 500; 
    font-size: 20px;
    color: ##022E42;
    background-color: #ffff;
    border: none;
    border-radius: 80px;
    width: 100%;
    height: 120%;
    margin-top: 3%;
        
}
/*button style*/


.buttonlogind{
  background-color: white;
  border: none;
  color: #022E42;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}
