/* Bottom Navbar og styling*/
.ikkerul{
      z-index: 1;
      /* Til at fjerne skærmkanter*/
      margin:0;
      /* fjerner visuel scroll både ved X & Y-aksen*/
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      /*Gradient baggrund*/
      height: 812px;
      background-image: linear-gradient(#37A8AD, #E4F2F4);
     }

 
.settingsgrid{
        z-index: 4;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 5% 10% 10% 10% 20% 50% 20%;
    }
    
.box{
    z-index: 5;
    grid-column-start: 2;
    grid-row-start: 6;
}

.settingsitems{
        z-index: 6;
        display: grid;
        grid-template-columns: 0.5fr 0.2fr 2.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 20% 20% 20% 20% 20% 15%;
}


.noti{
    z-index: 7;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 85%;
    color: #022e42;
    grid-column-start: 3;
    grid-row-start: 1;
}

.notiknap{
    margin-top: 15px;
    z-index: 7;
    grid-column-start: 5;
    grid-row-start: 1;
}

.privat{
    z-index: 7;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 85%;
    color: #022e42;
    grid-column-start: 3;
    grid-row-start: 2;
}

.privatknap{
    margin-top: 15px;
    z-index: 7;
    grid-column-start: 5;
    grid-row-start: 2;
}

.sikker{
    z-index: 7;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 85%;
    color: #022e42;
    grid-column-start: 3;
    grid-row-start: 3;
}

.sikkerknap{
    margin-top: 15px;
    z-index: 7;
    grid-column-start: 5;
    grid-row-start: 3;
}


.grid-container1 {
  z-index: 2;
  margin: 0;
  width: 100%;
  /*Det er for at den ikke scroller med resten, men forbliver på sin plads*/
  position:fixed;
  /* Dette er for at bestemme at den skal ligge i bunden*/
  bottom:0;
  /*Grid opsætnings deffinitation*/
  display: grid;
  /*Denne funktion gør således at grid selv bestemmer str. for at alle er lige store*/
  grid-template-columns: 25% 25% 25% 25%;
  /*Baggrunds farve på boksene*/
  background-color: #f7f8f9;
  /*Dette giver en kant på boksene, så de ikke ligger helt i bunden*/
  padding: 10px;
}

.grid-item1/*deffination af alle grid bokse*/ {
   z-index: 3;
  /*Dette er for at få dem længere væk fra hindanden*/
  padding: 5px;
  /* Dette er for at ikonerne er i midten af boksene*/
  align-content: center;
}

/* Animation 1 upsizing af icon*/
.scale-up-bottom {
    /* Starts funktion på upscaling af ikonet*/
	-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

/*animation 2 downsizing af icons */
.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; }
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  } 