.rul{
     /* Til at fjerne skærmkanter*/
      margin:0;
      /* fjerner visuel scroll både ved X-aksen*/
      overflow-x: hidden;
      /*Gradient baggrund*/
      height: 1000px;
      background-image: linear-gradient(#37A8AD, #E4F2F4); 
}


/*NØGLER*/
.keygrid{
    display: grid;
    grid-template-columns: 3% 78% 50%;
    grid-template-rows: 5% 5% 10% 20% 20 20%%;
}
    
.dinenoegler{
    grid-column-start: 2;
    grid-row-start: 1;
    font-weight: 600;
	font-family: 'Montserrat';
    font-size: 33px;
    color: #ffff;
/*    margin-top: 8%;*/
}

.add{  
    grid-column-start: 2;
    grid-row-start:1;
    padding: 10px; 
    margin-top: 25%;
    margin-left: -6%
}
* {box-sizing: border-box;}

h1{
    font-family: 'montserrat';
    color: #022E42;
    font-size: 25px;
    font-weight: 600;
}
.navn{
    font-family: 'montserrat';
    color: #022E42;
    font-size: 18px;
}

.kodeord{
     font-family: 'montserrat';
    color: #022E42;
    font-size: 18px;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  color: white;
  cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  z-index: 5;
}

/* Add styles to the form container */
.form-container {
  max-width: 365px;
  padding: 10px;
  background-color: #F7F8F9;
  border-radius: 5%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the tilføj nøgle button */
.form-container .btn {
  z-index: 10;
  background-color: #37A8AD;
  font-family: 'montserrat'
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  
}

/* Add a background color to the cancel button */
.form-container .cancel {
 background-color: #FA7268;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.btn {
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #ffff;
}
.fitnessworld{
    grid-column-start:1;
    grid-row-start: 4;
    border-radius: 20px;
    padding: 10px; 
    margin-left: -60%;
    border: 50%;
}

.ucl{
    grid-column-start: 1;
    grid-row-start: 5;
     border-radius: 20px;
    padding: 10px; 
    margin-left: -50%;

}

.rejsekort{
    grid-column-start: 1;
    grid-row-start: 6;
     border-radius: 20px;
    padding: 10px; 
    margin-left: -50%;

}
.keybody{
    overflow: scroll;
}


.grid-container1 {
  z-index: 1;
  margin: 0;
  width: 100%;
  /*Det er for at den ikke scroller med resten, men forbliver på sin plads*/
  position:fixed;
    
  /* Dette er for at bestemme at den skal ligge i bunden*/
  bottom:0;
  /*Grid opsætnings deffinitation*/
  display: grid;
  /*Denne funktion gør således at grid selv bestemmer str. for at alle er lige store*/
  grid-template-columns: 25% 25% 25% 25%;
  /*Baggrunds farve på boksene*/
  background-color: #f7f8f9;
  /*Dette giver en kant på boksene, så de ikke ligger helt i bunden*/
  padding: 10px;
}

.grid-item1/*deffination af alle grid bokse*/ {
  /*Dette er for at få dem længere væk fra hindanden*/
  padding: 5px;
  /* Dette er for at ikonerne er i midten af boksene*/
  align-content: center;
}

img {
  border-radius: 5%;
}
/* Animation 1 upsizing af icon*/
.scale-up-bottom {
    /* Starts funktion på upscaling af ikonet*/
	-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }


/*animation 2 downsizing af icons */
.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; }
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }  

