.ikkerul {
      /* Til at fjerne skærmkanter*/
      margin:0;
      /* fjerner visuel scroll både ved X & Y-aksen*/
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      /*Gradient baggrund*/
      height: 812px;
      background-image: linear-gradient(#37A8AD, #E4F2F4);
     }

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
    font-size: 60px;
    color: white; 
    
}

.loginlogo{
  grid-column-start: 2; 
  grid-row-start: 1;
  height: 160px; 
  width: 160px;
  margin-left:30%;
  margin-top: -2%; 
}

.velkommen
{
    font-weight: 600; 
    font-family: 'montserrat';
    font-weight: 600; 
    font-size: 27px;
    color: white;
    grid-column-start: 2; 
    grid-row-start: 2;
     margin-left: 15%;
    margin-top: 15%; 
}

.oplysningerlogin{
  font-weight: 300; 
    font-family: 'montserrat';
    font-size: 15px;
    font-weight: 300; 
    grid-column-start: 2; 
    grid-row-start: 3;
    margin-top: -5%; 
    margin-left: 15%;
}

form {
  height: auto;
  border-radius: 80px; 
}

.input-item {
  background: white;
  color: #333;
}

input[type=text],input[type=password]{
  width: 275px; 
  height: 60px;
  border-radius: 29px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300; 
  outline: none;
  border: none;
  transition: 0.2s linear;
  margin-left: 15%;
}

.forgot-pass{
  font-size: 14px;
  margin-left: 30%;
    margin-top: 2%;
  color: #022E42;
    text-decoration: underline; 
    font-family: 'montserrat'; 
}

input[type=button]{
color: white;
  
    width: 275px;
    height: 60px;
  
    background: #37A8AD;
    border-radius: 29px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    margin-left: 15%;
}

.logindforside{
 grid-column-start: 2;
 grid-row-start: 7;
 }