body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #f7f8f9;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #38a8ad;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

/* Login side */

.btnlogin2{
  border-radius: 25px;
  background-color: #37A8AD; 
  padding: 10px 40px;
  font-size: 10px;
    font-family: montserrat; 
    color: white;
  cursor: pointer;
}


