

/* Bottom Navbar og styling*/
body {margin:0;
position: relative;
  height: 100%;
  background-image: linear-gradient(#37A8AD, #E4F2F4);}


.icon-bar {
  width: 100%;
  background-color: #f7f8f9;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main { 
  padding: 16px;
  margin-bottom: 30px;
}


/*button style*/
.buttonlogind{
  background-color: white;
  border: none;
  color: #022E42;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}


.btnlogin2{
    
}

